<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="Protect internal directories" stopProcessing="true">
          <match url="^(app|database|storage)/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
        </rule>
        <rule name="Protect sensitive files" stopProcessing="true">
          <match url="(^|/)(\.env|.*\.(sql|log|ini|bak|dist))$" ignoreCase="true" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol><customHeaders>
      <add name="X-Content-Type-Options" value="nosniff" />
      <add name="X-Frame-Options" value="SAMEORIGIN" />
      <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
    </customHeaders></httpProtocol>
  </system.webServer>
</configuration>

